[submodule "25-0-tour-management-system"]
	path = 25-0-tour-management-system
	url = https://github.com/shahbaz-kamal/vivid-voyages-server.git
[submodule "56-care-pont-server"]
	path = 56-care-pont-server
	url = https://github.com/shahbaz-kamal/care-point-server.git
[submodule "56-care-point-server"]
	path = 56-care-point-server
	url = https://github.com/shahbaz-kamal/care-point-server.git
